

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding: 0;
  margin: 0;
  background-image: url(../img/binding_dark.png);
}

#filters {
  margin: 5px;
  height: 40px;
}

#map {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}

/* Need this to fix weird Google Maps UI glitch */
#map img {
  max-width: none;
}














